{% if p.section_id %}
  {% assign p_children = site.html_pages | where: 'section', p.section_id | sort: 'nav_order' %}
  {% comment %} figure out prev/next pages for active section header {% endcomment %}
  {% if p.url == page.url %}
    {% assign prev_number = forloop.index0 | minus: 1 %}
    {% assign next_number = forloop.index0 | plus: 1 %}
    {% if forloop.first %}
      {% if p_children[0] %}{% assign next_page_title = p_children[0].title %}{% assign next_page_url = p_children[0].url %}
      {% else %}
      {% assign next_page_title = nav_pages[next_number].title %}{% assign next_page_url = nav_pages[next_number].url %}
      {% endif %}
    {% else %}
      {% assign prev_page = nav_pages[prev_number] %}
      {% if prev_page.section_id %}
        {% assign prev_child = site.html_pages | where: 'section', prev_page.section_id | sort: 'nav_order' | last %}
        {% assign prev_page_title = prev_child.title %}{% assign prev_page_url = prev_child.url %}
      {% else %}
        {% assign prev_page_title = prev_page.title %}{% assign prev_page_url = prev_page.url %}
      {% endif %}
      {% if p_children[0] %}{% assign next_page_title = p_children[0].title %}{% assign next_page_url = p_children[0].url %}
      {% else %}
      {% unless forloop.last %}{% assign next_page_title = nav_pages[next_number].title %}{% assign next_page_url = nav_pages[next_number].url %}{% endunless %}
      {% endif %}
    {% endif %}
  {%- endif -%}
<button class="side-bar-item btn-toggle rounded{% unless page.section == p.section_id or page.section_id == p.section_id %} collapsed{% endunless %}" data-bs-toggle="collapse" data-bs-target="#{{ p.section_id | slugify }}-collapse" aria-expanded="{% if page.section == p.section_id or page.section_id == p.section_id %}true{% else %}false{% endif %}">
  <span class="sidebar-label">
    {% if p.icon %}
      <span class="sidebar-icon">{% include icon.html icon=p.icon %}</span>
    {% endif %}
    <span class="sidebar-text">
      {% if p.section_id == "Annexes" %}
        {{ p.section_id }}
      {% else %}
        {% assign section_number = p.title | split: "." | first %}
        {{ section_number }}. {{ p.section_id }}
      {% endif %}
    </span>
  </span>
</button>
<div class="collapse{% if page.section == p.section_id or page.section_id == p.section_id %} show{% endif %}" id="{{ p.section_id | slugify }}-collapse">